* {
	box-sizing: border-box;
}

html, body {
	margin: 0px;
	padding: 0px;
	background-color: #4a4c4f;
	cursor: default;
	background-image: url("img/sample-pattern.png");
	background-repeat: repeat;
	font-family: "Merriweather Sans", sans-serif;
	color: #1e2f4c;
	text-align: left;
}

h1, .footer {
	text-align: center;
}

p , .ol1, .div2 {
	font-size: 12px;
	text-align: left;
}

h1 {
	font-size: 36px;
}

h3 ,.footer {
	font-size: 16px;	
}

.section {
	border-radius:15px;
	background-color: rgba(93, 132, 198,0.7);
	width : 80%;
	margin : 60px auto 60px auto;
	padding: 25px 5%;
}

.divList {
	/* border: 1px solid black;
		border-radius:15px;
	*/
	text-align: center;
	background-color: rgb(220, 227, 242);
	padding: 10px 25px;
	margin: 20px;
	border-radius:30px;
}

.div2 {
	text-align: left;
	width: 100%;
	display: block;
}

.div21{
	width: 40%;
	display: inline-block;
	margin: 10;
}

.divImgLarge {
	width:80%;
}

.divCenter {
	text-align: center;
}

hr {
	border-color: darkGray;
	font-weight: bold;
}

a {
	text-decoration: none;
}

a:hover {
	color: green;
}

.imgSosmed {
	width: 50px;
	height: 50px;
}

.imgCircle {
	border-radius: 50%;
}

#imgLogo {
	width: 200px;
	height: 200px;
	text-align: center;
}
.footer {
	width: 100%;
	position: absolute;
	background-color: #5d84c6;
	padding: 15px 0px 15px 0px;
	font-weight: bold;
}



